@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
}

li {
	list-style : none;
}

a {
	text-decoration : none;
}

#search_wrap {
	width : 1400px;
	margin : 50px auto;
	overflow : hidden;
}

#search_wrap .snb {
	float : left;
	height : 800px; 
}

#search_wrap .snb ul li {
	width : 250px;
	height : 50px;
	line-height : 50px;
	padding-left : 30px;
	border-bottom : 1px solid #d8d8d8;
}

#search_wrap .snb ul li:first-child {
	height : 80px;
	line-height : 80px;
	color : white;
	font-weight : bold;
	font-size : 20px;
	background-color : #2e8fe3;
	border : none;
}

#search_wrap .snb ul li a {
	color : black;
}

#search_wrap .search table {
	border-spacing: 0;
    border-collapse: collapse;
	font-size : 1.1em;
	border : 2px solid #2e8fe3;
	width : 1000px;
	margin : 0 auto;
}

#search_wrap .search table caption {
	text-align : left;
	font-weight : bold;
	font-size : 1.3em;
	margin-bottom : 10px;
	color : #0e0e5b;
}

#search_wrap .search table tr {
	height : 60px;
}

#search_wrap .search table tr:last-child {
	height : 40px;
	text-align : center;
}

#search_wrap .search table tr th {
	text-align : left;
	padding-left : 10px;
	width : 120px;
}

.fLocal, .fOb {
	width : 200px;
	font-size : 1em;
}

.fTitle {
	width : 400px;
	font-size : 1em;
}

.btn {
	background : #0e0e5b;
	color : white;
	font-weight : bold;
	font-size : 1.2em;
	width : 80px;
	height : 100%;
	margin-bottom : 10px;
	cursor : pointer;
	border-radius : 4px;
}

.tempDate1, .tempDate2 {
	width : 200px;
	font-size : 1em;
}

#list_wrap .list {
	width : 1000px;
	margin : 0 auto;
	overflow : hidden;
	padding-top : 30px;
}

#list_wrap .list table {
	text-align : center;
	border-top : 3px solid #2e8fe3;
	border-spacing: 0;
    border-collapse: collapse;
    font-size : 0.9em;
}

#list_wrap .list table tr {
	border-bottom : 1px solid #c6c6c6;
	height : 40px;
}

#list_wrap .list table tr:first-child {
	background : #d6e8f8;
	height : 50px;
	font-size : 1em;
}

.title {
	text-align : left;
}

.title a {
	color : black;
}

.paging {
	height : 60px;
	line-height : 60px;
	text-align : center;
}

.paging a {
	color : black;
}