@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
}

li {
	list-style : none;
}

a {
	text-decoration : none;
}

header {
	width : 100%;
	minwidth : 1000px;
	
}

header #laf_gnb {
	width : 100%;
	height : 40px;
	line-height : 40px;
	background-color : #d6e8f8;
}

header #laf_gnb ul {
	width : 1000px;
	margin : 0 auto;
	overflow : hidden;
}

header #laf_gnb ul li {
	float : right;
	margin : 0 20px;
	text-align : center;
}

header #laf_gnb ul li a {
	font-size : 0.9em;
	font-weight : bold;
	color : black;
}

header #logo {
	height : 160px;
	line-height : 160px;
	text-align : center;
}

header #laf_lnb {
	width : 100%;
	height : 50px;
	line-height : 50px;
	background-color : #2e8fe3;
}

header #laf_lnb ul {
	width : 1300px;
	margin : 0 auto;
	overflow : hidden;
}

header #laf_lnb ul li {
	float : left;
	margin : 0 90px;
	text-align : center;
}

header #laf_lnb ul li a {
	font-weight : bold;
	color : white;
	font-size : 18px;
}

.all_list {
	background-image : url(../img/bg_iconset.png);
	background-position:-100px -50px;
	cursor : pointer;
}

#laf_lnb ul li .all {
	position : absolute;
    width : 100px;
    transform : scaleY(0);
    transform-origin : top;
    transition : all 0.3s;
    background : #005baa;
    overflow : hidden;
    padding-left : 100px;
}

#laf_lnb ul li  .all ul {
	float : left;
}

#laf_lnb ul li #all_menu:checked ~ .all {
	transform : scaleY(1);
}

#all_menu {
	position : fixed;
    left : -9999px;
}

#laf_lnb ul li .all {
	width : 1180px;
	height : 250px;
}

#laf_lnb ul li .all ul li  a {
	color : white;
}

#laf_lnb ul li  .all ul:first-child {
	margin : 0;
	margin-left : 20px;
	width : 250px;
}

#laf_lnb ul li  .all ul:first-child li {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	float : none;
	text-align : center;
}

#laf_lnb ul li  .all ul:nth-child(2) {
	margin : 0;
	width : 250px;
	margin-left : 65px;
}

#laf_lnb ul li  .all ul:nth-child(2) li {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	float : none;
	text-align : left;
}

#laf_lnb ul li  .all ul:nth-child(3) {
	margin : 0;
	width : 270px;
}

#laf_lnb ul li  .all ul:nth-child(3) li {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	float : none;
	text-align : left;
}

#laf_lnb ul li  .all ul:last-child {
	margin : 0;
	width : 250px;
}

#laf_lnb ul li  .all ul:last-child li {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	float : none;
	text-align : left;
}
