@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
}

li {
	list-style : none;
}

a {
	text-decoration : none;
}

#content_wrap {
	width : 1400px;
	margin : 50px auto;
	overflow : hidden;
}

#content_wrap .snb {
	float : left;
	margin-right : 100px;
	height : 700px;
}

#content_wrap .snb ul li {
	width : 250px;
	height : 50px;
	line-height : 50px;
	padding-left : 30px;
	border-bottom : 1px solid #d8d8d8;
}

#content_wrap .snb ul li:first-child {
	height : 80px;
	line-height : 80px;
	color : white;
	font-weight : bold;
	font-size : 20px;
	background-color : #2e8fe3;
	border : none;
}

#content_wrap .snb ul li a {
	color : black;
}

#content_wrap .content {
	width : 1000px;
	overflow : hidden;
	padding-top : 30px;
}

#content_wrap .content table {
	text-align : left;
	border-spacing: 0;
    border-collapse: collapse;
    font-size : 1.1em;
}

#content_wrap .content table tr {
	border-bottom : 1px solid #c6c6c6;
	height : 50px;
}

#content_wrap .content table tr:first-child {
	border-top : 1px solid #c6c6c6;
}

#content_wrap .content table tr th {
	background : #f3f3f3;
	text-align : center;
}

#content_wrap .content table tr td {
	padding-left : 10px;
}

.btn_wrap {
	width : 1000px;
	margin : 0 auto;
}

button {
	width : 120px;
	height : 40px;
	background : #2e8fe3;
	color : white;
	border : none;
	font-size : 1.2em;
	margin : 30px 0;
	cursor : pointer;
	border-radius : 4px;
}